.contact-section {
    background:var(--black);
    color:var(--white)
}
.contact-inner {
    display:grid;
    gap:100px;
    grid-template-columns:1.3fr .7fr;
    min-height:690px
}
.contact-inner .eyebrow {
    color:#999
}
.contact-inner h2 {
    font-size:clamp(4rem,8vw,8rem)
}
.contact-copy {
    color:#9c9c9c;
    font-size:14px;
    line-height:1.75;
    margin:38px 0;
    max-width:430px
}
.contact-links {
    align-self:end;
    border-top:1px solid #3b3b3b
}
.contact-links a {
    align-items:center;
    border-bottom:1px solid #3b3b3b;
    display:flex;
    font-family:var(--mono);
    font-size:11px;
    justify-content:space-between;
    padding:20px 0;
    text-transform:uppercase;
    transition:padding .25s
}
.contact-links a:hover {
    padding-left:10px;
    padding-right:10px
}
